<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adityathakker.magicclipboard">

    <uses-permission android:name="android.permission.GET_stringS" />
    <uses-permission android:name="android.permission.READ_stringS" />
    <uses-permission android:name="android.permission.WRITE_stringS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.adityathakker.magicclipboard.ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adityathakker.magicclipboard.ui.activities.WordPopupActivity"
            android:theme="@style/PopupTheme" />

        <activity
            android:name="com.adityathakker.magicclipboard.ui.activities.SentencePopupActivity"
            android:theme="@style/PopupTheme" />

        <service android:name="com.adityathakker.magicclipboard.services.ClipboardMonitorService" />

        <receiver android:name="com.adityathakker.magicclipboard.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.adityathakker.magicclipboard.receivers.AppUninstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.adityathakker.magicclipboard.receivers.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.adityathakker.magicclipboard.ui.activities.DisplayClipboardLogActivity"
            android:label="@string/title_activity_display_copy"
            android:parentActivityName="com.adityathakker.magicclipboard.ui.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adityathakker.magicclipboard.ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name="com.adityathakker.magicclipboard.ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.adityathakker.magicclipboard.ui.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adityathakker.magicclipboard.ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name="com.adityathakker.magicclipboard.ui.activities.SettingWordActionsActivity"
            android:label="@string/title_activity_actions_choose_word"
            android:parentActivityName="com.adityathakker.magicclipboard.ui.activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adityathakker.magicclipboard.ui.activities.SettingsActivity" />
        </activity>
    </application>

</manifest>